#weather {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 10px;
    padding-left: 20px;

    #imgWeather {
        width: 40px;
        position: relative;
        
    }

    #txtWeather {
        padding-left: 10px;
        margin-left: 10px;
        border-left: 2px solid black;
    }
}