/* #jokeCard {
    margin: 0 auto;
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;


    & h1 {
        font-size: medium;
        padding: 25px;
        font-weight: 600;
        margin-top: 50px ;
        text-align: center;

    }
    
    & #joke {
        padding: 10px;
        min-height: 50px;
        font-size: small;
        margin: 0px 80px 0 80px;
    }

    & #rating {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        & #ratingBtns {
            width: 60%;
            display: flex;
            justify-content: space-evenly;
            

            & button {
                background-color: rgba(0, 0, 0, 0);
                margin-top: 30px;
                border: 0;
                font-size: 30px;
                text-shadow: 2px 2px rgb(251, 203, 38);
                background-size: contain;
                background-repeat: no-repeat;
                height: 50px;
                width: 50px;
            }

            & #score1 {
                background-image: url("../img/faces/face1.svg");
            }

            & #score2 {
                background-image: url("../img/faces/face2.svg");
            }

            & #score3 {
                background-image: url("../img/faces/face3.svg");
            }
        }
    }

    & #jokeBtn {
        background-color:rgba(0,0,0,0);
        background-position: 4px 4px;
        padding: 15px 30px;
        margin-top: 30px;
        border: 2px solid black;
        border-radius: 30px;
        font-weight: 600;
    }

    & #btnBg {
        content: "";
        display: block;
        width: 179.91px;
        height: 49px;
        background-color:rgb(234, 204, 4);
        position: relative;
        left: 4px;
        top: -45px;
        border-radius: 30px;
        z-index: -1;
    }
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: silver;
}
 */