@import "../node_modules/bootstrap/scss/bootstrap";

@import './bgImages';
@import './config';
@import './header';
@import './jokes';
@import './responsive';

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;

    header {    
        height: 100px;
        width: 100%;
        
    }
}

