@import "../node_modules/bootstrap/scss/bootstrap";

@import './bgImages';
@import './config';
@import './header';
@import './jokes';
@import './responsive';

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;

    & header>div>p {
        margin: 0;
        padding: 10px;
    }
}
